#footer {
    background-image: url("../img/footer.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.error {
    color: red;
}

.hidden {
    visibility: hidden;
}

.navbar {
    border-bottom: 3px solid #000000;
}

.div-orange {
    border-color: #ff6600;
}

.div-dark {
    border-color: #000000;
}

.div-light {
    border-color: #ffffff;
}

.btn-circled {
    padding: 0.5em 1em;
    border-radius: 2em;
}

.btn-purple {
    background-color: #9400D3;
}